<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing system</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/styles1.css">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Billing System</a>
                </div>
            </div>
        </nav>
        <div class="navbar">
            <a href="index.html">Inventory</a>
            <a href="invoice.html">Invoices</a>
            <a href="uom.html">UOM</a>
            <div class="dropdown active1">
              <button class="dropbtn">Traders 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="merchant.html">Merchants</a>
                <a href="customer.html">Customers</a>
              </div>
            </div> 
            <div class="login">
                <a href="signin.html">Sign In</a>
            </div>
        </div>
          
    </header>
    <!-- header -->

    <!-- main site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="add_trader.html" class="border-shadow btn-rad">
                    <span class="text-gradient">New Trader <i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="" method="post">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Username</td>
                            <td>user123@gmail.com</td>
                            <td>45425100</td>
                            <td>
                                <a href="edit_trader.html" class="btn border-shadow btn-rad edit">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a href="" class="btn border-shadow btn-rad delete" onclick="myfunction()">
                                    <span class="text-gradient"><i class="far fa-trash-alt"></i></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </main>
    <!-- main site -->
    <script>    
        // When the user clicks anywhere outside of the modal, close it
        function myfunction(){
            window.alert("Are you sure you want to delete this Trader?");
        }
    </script>
</body>
</html>
 